body {
    background-image: url(/assets/important/spac.gif);
    margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden; /* prevent horizontal scroll */
        overflow-y: hidden /* vertical too */;
}

.mouth_overlay {
    margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden; /* prevent horizontal scroll */
        overflow-y: hidden /* vertical too */;
        max-width: 100vw;
        max-height: 100vh;
        width: auto;
        height: auto;
        object-fit: contain;
        display: block;
}