@font-face {
    font-family: "squidwiener";
    src: url("/assets/fonts/squidwiener.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: black;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage {
    position: relative;
    aspect-ratio: 1920 / 1080;
    width: min(100vw, calc(100vh * 1920 / 1080));
    background: black;
    overflow: hidden;
    container-type: inline-size;
}

/* -------------------------------------------------------------------------- */
/* dis shit all for the stupid little image display */
.img-display {
    position: absolute;
    left: 80.5%;
    top: 35%;

    transform: translate(-50%, -50%);
}

.img-placeholder {
    position: absolute;
    left: 80%;
    top: 45%;

    width: 31.25%;
    height: auto;

    transform: translate(-50%, -50%);

    object-fit: contain;
    image-rendering: pixelated;
    z-index: 3;
}

.img-border, .content {
    position: absolute;
    image-rendering: pixelated;
    display: none;
}

.img-display.show .img-border,
.img-display.show .content {
    display: block;
}

.img-display.square {
    width: 37%;
    aspect-ratio: 710 / 710;
}

.img-display.wide {
    width: 37%;
    aspect-ratio: 710 / 535;
}

.img-display.tall {
    width: 29.6875%;
    aspect-ratio: 570 / 710;
}

.img-border {
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;
    z-index: 5;
    pointer-events: none;
}

.content {
    object-fit: cover;
    z-index: 4;
}

/* funky values b/c 5px inset inside 710x710 border */
.img-display.square .content {
    left: 0.704%;
    top: 0.704%;

    width: 98.592%;
    height: 98.592%;
}

/* 5px inset inside 710x535 border */
.img-display.wide .content {
    left: 0.704%;
    top: 0.935%;

    width: 98.592%;
    height: 98.131%;
}

/* 5px inset inside 570x710 border */
.img-display.tall .content {
    left: 0.877%;
    top: 0.704%;

    width: 98.246%;
    height: 98.592%;
}

.img-thought-bubble {
    position: absolute;
    left: 85.5%;
    top: 70%;

    width: 7.8125%;
    height: auto;

    transform: translate(-50%, -50%);

    object-fit: contain;
    image-rendering: pixelated;
}

.img-word {
    color: #ff6f00;
    cursor: help;
}
/* -------------------------------------------------------------------------- */

.wizard {
    position: absolute;
    left: 87%;
    top: 84%;

    width: 29%;
    height: auto;

    transform: translate(-50%, -50%);

    object-fit: contain;
    image-rendering: pixelated;
}

.arrow-master {
    position: absolute;
    left: 64%;
    top: 94%;

    width: 5.7%;
    height: auto;

    transform: translate(-50%, -50%);

    display: block;
    z-index: 10;
}

.arrow-master img {
    display: block;
    width: 100%;
    height: auto;

    object-fit: contain;
    image-rendering: pixelated;
}


.feed {
    position: absolute;

    left: 1cqw;
    top: 1cqw;
    bottom: 1cqw;
    width: 59%;

    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
    border: 0.3125cqw solid #ff6f00; /* 6px at 1920px wide */
    padding: 0.8cqw;

}

.entry {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.8cqw;

    background: black;
    border: 0.3125cqw solid #ff6f00;

    color: white;
    font-family: squidwiener;
    font-size: 2.5cqw;
    line-height: 1.25;
    text-align: left;
    text-decoration: none;
    overflow-wrap: break-word;
}

.entry-title, .entry-link {
    padding: 1cqw;
}

/* -------------------------------------------------------------------------- */
/* dis shit all for the stupid little arrows */
.entry-title {
    position: relative;
    list-style: none;
    cursor: pointer;

    padding: 1cqw 1.2cqw;
    padding-left: 3.4cqw;
}

/* additional tidbit for hiding the default triangle */
.entry-title::-webkit-details-marker {
    display: none;
}

.entry-link {
    position: relative;

    padding: 1cqw 1.2cqw;
    padding-left: 3.4cqw;
}

.entry-title::before, .entry-link::before {
    content: "";

    position: absolute;
    left: 1cqw;
    top: 50%;

    width: 1.7cqw;
    height: 1.7cqw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(-50%);
    image-rendering: pixelated;
}

.entry-title::before {
    background-image: url("/assets/whims/arrow_right.gif");
}

.entry[open] summary::before {
    background-image: url("/assets/whims/arrow_down.gif");
}

.entry-link::before {
    background-image: url("/assets/whims/arrow_further.gif");
}
/* -------------------------------------------------------------------------- */

.entry-body {
    padding: 0cqw 1.2cqw 1.1cqw 1.2cqw;
    color: white;
    font-family: consolas;
    font-size: 1.2cqw;
    line-height: 1.25;
}

.entry-body p {
    margin: 0;
}

.entry:last-child { /* this just prevents the bottom most entry from having a gap under it */
    margin-bottom: 0;
}